{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block css %}
<style>
    .container-fluid {
        padding-top: 50px;
    }
    .link-img {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- 首航导航 -->
    <div class='row'>
        <nav class="col-xs-12 navbar navbar-default navbar-fixed-top topBar nav-nodeco" id="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.duetime.cn/">
                    <img src="/static/img/logo_black.png">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <li role="separator" class="divider"></li>
                    <li><a class="befast" href="/beijingmore">Beijing More</a></li>
                    <li><a class="befast" href="http://lei.duetime.cn">Lei Site</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="befast" href="mailto:lei@duetime.cn">Email Lei</a></li>
                    <li><a class="befast" href="mailto:kai@duetime.cn">Email Kai</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <a href="/beijingmore">
            <img class="link-img" src="/static/img/index/bjmore.jpg">
        </a>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock %}
