{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Add" %} {% trans "ShortURL" %}{% endblock %}


{% block css %}
<style>
    .panel {
        margin-top: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>{% trans "Add" %} {% trans "ShortURL" %}</span>
                </div>
                <div class="panel-body">
                    <form id="shorturl-form" method="post" action="/shorturl/add">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name-input">{% trans "Name" %} {% trans "(Optional)" %}</label>
                            <input id="name-input" class="form-control" type="text" name="name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="url-input">{% trans "URL" %}</label>
                            <input id="url-input" class="form-control" type="text" name="url" autocomplete="off">
                        </div>
                        <a id="save-btn" class="btn btn-success btn-block" role="button" onclick="$('#shorturl-form').submit()">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span>{% trans "Save" %}</span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function(){
            $("input[name='name']").keydown(function(){
                if(event.keyCode==13){
                    $("#url-input").focus()
                    return false
                }
            })
            $("input[name='url']").keydown(function(){
                if(event.keyCode==13){
                    $("#save-btn").click()
                    return false
                }
            })
        })
    </script>
{% endblock %}
