{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Add" %} {% trans "ShortURL" %}{% endblock %}

{% block nav-btn %}
    <a class="btn btn-default navbar-btn" href="/shorturl/list">
        <span class="text-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>{% trans "ShortURL" %} {% trans "List" %}</span>
        </span>
    </a>
{% endblock nav-btn %}

{% block css %}
<style>
    .panel {
        margin-top: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>{% trans "Add" %} {% trans "ShortURL" %}</span>
                </div>
                <div class="panel-body">
                    <form id="shorturl-form" method="post" action="/shorturl/add">
                        {% csrf_token %}
                        <div class="form-group has-success has-feedback">
                            <label class="sr-only" for="url-input">{% trans "URL" %}</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-link"></span>
                                    {% trans "URL" %}
                                </span>
                                <input id="url-input" class="enter-to-save form-control" type="text" name="url" placeholder="http://" autocomplete="off" autofocus required>
                            </div>
                            <span class="form-control-feedback glyphicon">↩</span>
                            <span class="hidden-xs help-block">{% trans "Press Enter to Save" %}</span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="sr-only" for="name-input">{% trans "Name" %} {% trans "(Optional)" %}</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    {% trans "Name" %}
                                </span>
                                <input id="name-input" class="enter-to-save form-control" type="text" name="name" placeholder="{% trans '(Optional)' %}" autocomplete="off">
                            </div>
                            <span class="form-control-feedback glyphicon">⇥</span>
                        </div>
                        <a id="save-btn" class="btn btn-success btn-block" role="button" onclick="$('#shorturl-form').submit()">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span>{% trans "Save" %}</span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function(){
            $("input.enter-to-save").keydown(function(){
                if(event.keyCode==13){
                    $("#save-btn").click()
                    return false
                }
            })
        })
    </script>
{% endblock %}
