{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "ShortURL" %} {% trans "Detail" %}{% endblock %}

{% block nav-btn %}
    <a class="btn btn-default navbar-btn" href="/shorturl/list">
        <span class="text-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>{% trans "ShortURL" %} {% trans "List" %}</span>
        </span>
    </a>
{% endblock nav-btn %}


{% block css %}
    <style>
        .word-break-url {
            word-break: break-all;
        }
        td {
            min-width: 8em;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-magnet"></span>
                {% trans "ShortURL" %} {% trans "Detail" %}
            </div>
            <div class="panel-body">
                <a class="btn btn-block btn-lg btn-warning" href="{{ shorturl.short }}" target="_blank">
                    <span class="glyphicon glyphicon-magnet"></span>
                    {{ shorturl.short }}
                </a>
            </div>
            <table class="table table-hover table-bordered">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-sort-by-order"></span>
                        ID
                    </td>
                    <td>{{ shorturl.id }}</td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-user"></span>
                        {% trans "User" %}
                    </td>
                    <td>@{{ shorturl.user.username }}</td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-asterisk"></span>
                        {% trans "Name" %}
                    </td>
                    <td>{{ shorturl.name }}</td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-link"></span>
                        {% trans "URL" %}
                    </td>
                    <td class="word-break-url">
                        <a href="{{ shorturl.url }}">{{ shorturl.url }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-magnet"></span>
                        {% trans "ShortURL" %}
                    </td>
                    <td>
                        <a href="{{ shorturl.short }}" target="_blank">
                            {{ shorturl.short }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-eye-open"></span>
                        {% trans "Page View" %}
                    </td>
                    <td>{{ shorturl.pv }}</td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-time"></span>
                        {% trans "Modified" %}
                    </td>
                    <td>{{ shorturl.modified }}</td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-time"></span>
                        {% trans "Created" %}
                    </td>
                    <td>{{ shorturl.created }}</td>
                </tr>
            </table>
            <div class="panel-footer">
                <a class="btn btn-danger" href="/shorturl/delete?id={{ shorturl.id }}">{% trans "Delete" %}{% trans "!" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
