{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "ShortURL Detail" %}{% endblock %}

{% block nav-btn %}
    <a class="btn btn-default navbar-btn" href="/shorturl/list">
        <span class="text-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>{% trans "ShortURL" %} {% trans "List" %}</span>
        </span>
    </a>
{% endblock nav-btn %}


{% block css %}
    <style>
        .well-url {
            margin-bottom: 0;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "ShortURL" %} {% trans "Detail" %}
            </div>
            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>ID</th>
                        <td>{{ shorturl.id }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "User" %}</th>
                        <td>@{{ shorturl.user.username }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td>{{ shorturl.name }}</td>
                    </tr>
                    <tr>
                        <th>
                            {% trans "URL" %}
                            <span class="glyphicon glyphicon-link"></span>
                        </th>
                        <td>
                            <a href="{{ shorturl.url }}">{{ shorturl.url }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans "ShortURL" %}
                            <span class="glyphicon glyphicon-magnet"></span>
                        </th>
                        <td>
                            <div class="well well-sm well-url">
                                <a href="{{ shorturl.short }}">
                                    {{ shorturl.short }}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Page View" %}</th>
                        <td>{{ shorturl.pv }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Modified" %}</th>
                        <td>{{ shorturl.modified }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Created" %}</th>
                        <td>{{ shorturl.created }}</td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a class="btn btn-danger" href="/shorturl/delete?id={{ shorturl.id }}">{% trans "Delete" %}{% trans "!" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
