{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "ShortURL" %} {% trans "Detail" %}{% endblock %}

{% block nav-btn %}
    <a class="btn btn-default navbar-btn" href="/shorturl/list">
        <span class="text-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>{% trans "ShortURL" %} {% trans "List" %}</span>
        </span>
    </a>
{% endblock nav-btn %}


{% block css %}
    <style>
        .well-url {
            margin-bottom: 0;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>
                {% trans "ShortURL" %} {% trans "Detail" %}
            </div>
            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <tr>
                        <td>ID</td>
                        <td>{{ shorturl.id }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "User" %}</td>
                        <td>@{{ shorturl.user.username }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Name" %}</td>
                        <td>{{ shorturl.name }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "URL" %}</td>
                        <td>
                            <a href="{{ shorturl.url }}">{{ shorturl.url|truncatechars:29 }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-magnet"></span>
                            {% trans "ShortURL" %}
                        </td>
                        <td>
                            <a class="btn btn-link" href="{{ shorturl.short }}" target="_blank">
                                <span class="glyphicon glyphicon-link"></span>
                                {{ shorturl.short }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-eye-open"></span>
                            {% trans "Page View" %}
                        </td>
                        <td>{{ shorturl.pv }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Modified" %}</td>
                        <td>{{ shorturl.modified }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Created" %}</td>
                        <td>{{ shorturl.created }}</td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a class="btn btn-danger" href="/shorturl/delete?id={{ shorturl.id }}">{% trans "Delete" %}{% trans "!" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
