{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "ShortURL" %} {% trans "List" %}{% endblock %}


{% block nav-btn %}
    <a class="btn btn-success navbar-btn" href="/shorturl/add">
        <span class="">
            <span class="glyphicon glyphicon-plus"></span>
            <span>{% trans "New ShortURL" %}</span>
        </span>
    </a>
{% endblock nav-btn %}


{% block css %}
    <style>
    </style>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 well well-sm">
                {% for tag, cate in tagcate %}
                    <span class="label label-{{ cate }}">{{ tag }}</span>
                {% endfor %}
            </div>
        <div>
        <div class="row">
            {% for shorturl in shorturls  %}
                <div class="col-xs-12 col-sm-4">
                    <a class="no-decoration" href="/shorturl/detail?id={{ shorturl.id }}">
                        <div class="ani-fast hover-shadow panel panel-{{ shorturl.category|default:'default' }}">
                            <div class="panel-heading">
                                <span>
                                    <span class="glyphicon glyphicon-asterisk"></span>
                                    {{ shorturl.name|truncatechars:21 }}
                                </span>
                                <span class="badge pull-right">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    {{ shorturl.pv }}
                                </span>
                            </div><!--.panel-heading-->
                            <table class="table table-condensed text-{{ shorturl.category|default:'default' }}">
                                <tr class="{{ shorturl.category|default:'default' }}">
                                    <td>
                                        <span class="glyphicon glyphicon-magnet"></span>
                                        {{ shorturl.short }}
                                    </td>
                                </tr>
                                <tr class="{{ shorturl.category|default:'default' }} small">
                                    <td>
                                        <span class="glyphicon glyphicon-asterisk"></span>
                                        {{ shorturl.name }}
                                    </td>
                                </tr>
                                <tr class="{{ shorturl.category|default:'default' }} small">
                                    <td>
                                        <span class="glyphicon glyphicon-link"></span>
                                        {{ shorturl.url|truncatechars:29 }}
                                    </td>
                                </tr>
                                <tr class="text-muted {{ shorturl.category|default:'default' }} small">
                                    <td>
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{ shorturl.created }}
                                    </td>
                                </tr>
                            </table>
                        </div><!--.panel-->
                    </a>
                </div><!--.col-->
            {% endfor %}
        </div><!--.row-->
    </div><!--.container-->
{% endblock %}

{% block js %}
    <script>
    </script>
{% endblock %}
