{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block css %}
<style>
    .panel {
        margin-top: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>{% trans "User Signup" %}</span>
                </div>
                <div class="panel-body">
                    <form id="signup-form" method="post" action="/user/signup">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username_input">{% trans "Username" %}{% trans ":" %}</label>
                            <input id="id_username_input" class="form-control" type="text" name="username" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="id_password_input">{% trans "Password" %}{% trans ":" %}</label>
                            <input id="id_password_input" class="form-control" type="password" name="password" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="id_email_input">{% trans "Email" %}{% trans ":" %}</label>
                            <input id="id_email_input" class="form-control" type="email" name="email" autocomplete="off">
                        </div>
                        <div class="btn-group btn-group-flex">
                            <a class="flex-8 btn btn-primary" role="button" onclick="$('#signup-form').submit()">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span>{% trans "Sign Up" %}</span>
                            </a>
                            <a class="flex-4 btn btn-default" href="/user/signin">
                                <span class="text-success">{% trans "Log In" %}</span>
                                <span class="text-success glyphicon glyphicon-log-in"></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function(){})
</script>
{% endblock %}
