{% extends "cardnote/base.html" %}
{% load i18n %}

{% block title %}{% trans "Cardnote Detail" %}{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .inner-container {
            padding-top: 15px;
        }
        #categories-group .btn {
            opacity: 0.40;
        }
        #categories-group .btn.active {
            opacity: 1;
        }
        .panel-body {
            overflow-y: auto;
            max-height: 69vh;
        }
        .advanced-mode {
            display: None;
        }
    </style>
{% endblock %}

{% block nav-btn %}
    <a class="btn btn-default navbar-btn" href="javascript:void(0)" onclick="history.back()">
        <span class="text-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>{% trans "Go Back" %}</span>
        </span>
    </a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="inner-container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <form id="update-form" action="/cardnote/update" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ card.id }}">
                    <input type="hidden" name="newitems" value="">
                    <input type="hidden" name="category" value="{{ card.category|default:'default'}}">
                    <div id="main-panel" class="panel panel-{{ card.category }}">
                        <div id="categories-group" class="btn-group-xs btn-group btn-group-justified" role="group">
                            {% for category, display in card.CATEGORIES %}
                                <a class="btn btn-{{ category }} ani-fast {% if card.category == category %}active{% endif %}"
                                  title="{{ display }}"
                                  role="button"
                                  data-category="{{ category }}"
                                  onmousemove="liveUpdateColor(this, 'update')"
                                  onmouseout="liveUpdateColor(this, 'reset')"
                                  onclick="liveUpdateCategory(this)">
                                    <span class="glyphicon glyphicon-tint invisible"></span>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="panel-heading ani-fast">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-list"></span>
                                </span>
                                <input class="form-control enter-to-save" type="text" name="title" value="{{ card.title }}" placeholder="{{ card.title }}">
                                <span class="input-group-btn">
                                    <a class="btn btn-danger" onclick="confirmDelete(this)" href="javascript:void(0);" data-href="/cardnote/deletecard?id={{ card.id }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span>{% trans "Delete" %}{% trans "!" %}</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <table id="main-table" class="table table-condensed table-bordered table-hover">
                            <thead class="advanced-mode">
                                <tr id="col-name-row" class="active">
                                    <td class="text-center">
                                        <span class="glyphicon glyphicon-sort-by-order"></span>
                                        {% trans "Sequence" %}
                                    </td>
                                    {% trans '(Optional)' as t_optional %}
                                    <th>
                                        <input class="form-control enter-to-save" type="text" name="kcol" value="{{ card.kcol }}" placeholder="{{ card.kcol|default:t_optional }}">
                                    </th>
                                    <th>
                                        <input class="form-control enter-to-save" type="text" name="vcol" value="{{ card.vcol }}" placeholder="{{ card.vcol|default:t_optional }}">
                                    </th>
                                    <td class="text-center">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        {% trans "Operation" %}
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for old_item in card.cardnoteitems %}
                                    {% include "cardnote/itemrow.html" with cntr=forloop.counter item=old_item %}
                                {% empty %}
                                    {% trans "New" as t_new %}
                                    {% include "cardnote/itemrow.html" with cntr=t_new %}
                                {% endfor %}
                                <tr id="new-row-btn-tr" class="">
                                    <td class="invisible"></td>
                                    <td class="active" colspan="2">
                                        <a id="add-btn" class="btn btn-default btn-sm btn-block" onclick="addItemRow()">
                                            <span class="text-success glyphicon glyphicon-plus"></span>
                                            <span class="text-success">{% trans "Add Data" %}</span>
                                        </a>
                                    </td>
                                    <td class="invisible"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-body">
                            <div class="small">
                                <span class="text-muted">
                                    <span class="glyphicon glyphicon-play"></span>
                                    <span>{{ card.created|date:"Y-m-d H:i" }}</span>
                                </span>
                                <span class="text-muted pull-right">
                                    <span class="glyphicon glyphicon-pause"></span>
                                    <span>{{ card.modified|date:"Y-m-d H:i" }}</span>
                                </span>
                            </div>
                        </div><!--.panel-body-->
                        <div class="panel-footer">
                            <div class="btn-group btn-group-flex">
                                <a class="flex-2 btn btn-default" href="/cardnote/detail?id={{ card.id }}">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a id="save-btn" class="flex-10 btn btn-success" role="button" onclick="submitForm()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span>{% trans "Save" %}</span>
                                </a>
                            </div>
                        </div>
                    </div><!--.panel-->
                </form>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.inner-container-->
</div>
{% endblock content %}

{% block js %}
    <script>
        $(function(){
            $("input.enter-to-save").keydown(function(){
                if(event.keyCode==13){
                    $("#save-btn").click()
                    return false
                }
            })
            $("#main-table").on("keydown", "input.enter-to-save", function(){
                if(event.keyCode==13){
                    $("#save-btn").click()
                    return false
                }
            })
            $("#main-table").on("keydown", "input.tab-to-add:last", function(){
                if(event.keyCode==9){
                    $("#add-btn").click()
                    return false
                }
            })
            {% if card.kcol or card.vcol %}
                $(".advanced-mode").show()
            {% endif %}
        })
        function submitForm(){
            var title = $("input[name='title']").val()
            if(!title){
                $.danger("{% trans 'Card Title cannot be empty' %}")
                return false
            }
            var item_dicts = []
            $('.item-row').each(function(){
                var kword = $(this).find('input[data-name="kword"]').val()
                var val = $(this).find('input[data-name="val"]').val()
                if (!kword && !val){
                    $(this).remove()
                } else {
                    var item_dict = {
                        'kword': kword,
                        'val': val,
                    }
                    item_dicts.push(item_dict)
                }
            })
            $('input[name="newitems"]').val(JSON.stringify(item_dicts))
            $("#update-form").submit()
        }
        function addItemRow(){
            // clone and modify
            var new_ele = $(".item-row:first").clone()
            new_ele.find(".forloop-counter").text("{% trans 'New' %}")
            new_ele.find("input[data-name='kword']").val("").attr("placeholder", "")
            new_ele.find("input[data-name='val']").val("").attr("placeholder", "")
            // insert into html
            new_ele.hide()
            new_ele.insertBefore($("#new-row-btn-tr"))
            new_ele.fadeIn()
            new_ele.find("input[data-name='kword']").focus()
        }
        function moveToTop(ele){
            $(ele).parents(".item-row").insertBefore(".item-row:first")
        }
        function removeItemRow(ele){
            $(ele).parents(".item-row").fadeOut('fast', function(){
                $(ele).parents(".item-row").remove()
            })
        }
        function liveUpdateColor(ele, mode){
            if(mode == "reset"){
                var category = $("#categories-group .btn.active").data("category")
            } else {
                var category = $(ele).data("category")
            }
            {% for category, display in  card.CATEGORIES %}
                $("#main-panel").removeClass("panel-{{ category }}")
            {% endfor %}
            $("#main-panel").addClass('panel-' + category)
            return category
        }
        function liveUpdateCategory(ele){
            var category = liveUpdateColor(ele, "update")
            $("#categories-group .btn").removeClass('active')
            $(ele).addClass("active")
            $("input[name='category']").val(category)
        }
        function confirmDelete(ele){
            // 点击删除时，最后确认的框
            var result = confirm("{% trans 'Are you sure to delete this card?' %}\n{% trans '(Delete cannot be undo)' %}")
            if(result){
                disableAllBtn()
                window.location = $(ele).data('href')
            } else {
                $.info("Delete canceled.")
            }
        }
        function disableAllBtn(){
            // submit() 前应禁用所有按钮。
            $(".btn").attr("disabled", "disabled")
            $(".btn").click(function(){
                return false;
            })
        }
    </script>
{% endblock %}
