{% extends "cardnote/base.html" %}
{% block title %}Cardnote - Detail{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .inner-container {
            padding-top: 15px;
        }
        #categories-group .btn {
            opacity: 0.40;
        }
        #categories-group .btn.active {
            opacity: 1;
        }
    </style>
{% endblock %}

{% block function-btn %}
    <a href="/cardnote/list">
        <span class="text-primary">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Card List</span>
        </span>
    </a>
{% endblock function-btn %}

{% block content %}
<div class="container">
    <div class="inner-container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <form id="update-form" action="/cardnote/update" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ card.id }}">
                    <input type="hidden" name="newitems" value="">
                    <input type="hidden" name="category" value="{{ card.category|default:'default'}}">
                    <div id="main-panel" class="panel panel-{{ card.category }}">
                        <div class="panel-heading ani-fast">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-list"></span>
                                </span>
                                <input class="form-control enter-to-save" type="text" name="title" value="{{ card.title }}" placeholder="{{ card.title }}">
                                <span class="input-group-btn">
                                    <a class="btn btn-danger" onclick="confirmDelete(this)" href="javascript:void(0);" data-href="/cardnote/deletecard?id={{ card.id }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        <span>Delete!</span>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div id="categories-group" class="btn-group-xs btn-group btn-group-justified" role="group">
                            {% for category, display in card.CATEGORIES %}
                                <a class="btn btn-{{ category }} ani-fast {% if card.category == category %}active{% endif %}"
                                  title="{{ display }}"
                                  role="button"
                                  data-category="{{ category }}"
                                  onclick="liveUpdateCategory(this)">
                                    <span class="glyphicon glyphicon-tint invisible"></span>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="panel-body">
                            <table id="main-table" class="table table-condensed table-bordered table-hover">
                                <tr class="active">
                                    <th class="text-center">
                                        <span class="glyphicon glyphicon-sort-by-order"></span>
                                    </th>
                                    <th>
                                        <input class="form-control enter-to-save" type="text" name="kcol" value="{{ card.kcol }}" placeholder="{{ card.kcol|default:'Optional' }}">
                                    </th>
                                    <th>
                                        <input class="form-control enter-to-save" type="text" name="vcol" value="{{ card.vcol }}" placeholder="{{ card.vcol|default:'Optional' }}">
                                    </th>
                                    <th class="text-center">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </th>
                                </tr>
                                {% for old_item in card.cardnoteitems %}
                                    <tr class="item-row">
                                        <td class="text-center">
                                            <span class="text-muted">#{{ forloop.counter }}</span>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" data-name="kword" value="{{ old_item.kword }}" placeholder="{{ old_item.kword }}">
                                        </td>
                                        <td>
                                            <input class="form-control input-sm enter-to-add" type="text" data-name="val" value="{{ old_item.val }}" placeholder="{{ old_item.val }}">
                                        </td>
                                        <td>
                                            <a class="btn btn-link btn-sm hover-turning-container" role="button" onclick="removeItemRow(this)">
                                                <span class="glyphicon glyphicon-remove text-danger"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr id="new-row-btn-tr" class="success">
                                    <td colspan="4">
                                        <a id="add-btn" class="btn btn-default btn-sm btn-block" onclick="addItemRow()">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <div class="small">
                                <span class="text-muted">
                                    <span class="glyphicon glyphicon-play"></span>
                                    <span>{{ card.created|date:"Y-m-d H:i" }}</span>
                                </span>
                                <span class="text-muted pull-right">
                                    <span class="glyphicon glyphicon-pause"></span>
                                    <span>{{ card.modified|date:"Y-m-d H:i" }}</span>
                                </span>
                            </div>
                        </div><!--.panel-body-->
                        <div class="panel-footer">
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-default" href="/cardnote/list">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span>Cancel</span>
                                </a>
                                <a id="save-btn" class="btn btn-success" role="button" onclick="submitForm()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span>Save</span>
                                </a>
                            </div>
                        </div>
                    </div><!--.panel-->
                </form>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.inner-container-->
</div>
{% endblock content %}

{% block js %}
    <script>
        $(function(){
            $("input.enter-to-save").keydown(function(){
                if(event.keyCode==13){
                    $("#save-btn").click()
                    return false
                }
            })
            $("#main-table").on("keydown", "input.enter-to-add", function(){
                if(event.keyCode==13){
                    $("#add-btn").click()
                    return false
                }
            })
        })
        function submitForm(){
            var title = $("input[name='title']").val()
            if(!title){
                $.danger("Card Name cannot be empty")
                return false
            }
            var item_dicts = []
            $('.item-row').each(function(){
                var kword = $(this).find('input[data-name="kword"]').val()
                var val = $(this).find('input[data-name="val"]').val()
                if (!kword && !val){
                    $(this).remove()
                } else {
                    var item_dict = {
                        'kword': kword,
                        'val': val,
                    }
                    item_dicts.push(item_dict)
                }
            })
            $('input[name="newitems"]').val(JSON.stringify(item_dicts))
            $("#update-form").submit()
        }
        function addItemRow(){
            var tr = $("<tr class='item-row'></tr>")
            var new_span = $("<span class='text-muted'>New</span>")
            var kword_input = $("<input class='form-control input-sm' type='text' data-name='kword' placeholder='（Optional）'>")
            var val_input = $("<input class='form-control input-sm enter-to-add' type='text' data-name='val' placeholder='（Optional）'>")
            var remove_btn = $("<a class='btn btn-link btn-sm hover-turning-container' role='button' onclick='removeItemRow(this)'></a>").append("<span class='glyphicon glyphicon-remove text-danger'></span>")
            var tds = [
                $("<td></td>").addClass("text-center").append(new_span),
                $("<td></td>").append(kword_input),
                $("<td></td>").append(val_input),
                $("<td></td>").append(remove_btn),
            ]
            for(i in tds){
                tr.append(tds[i])
            }
            tr.insertBefore($("#new-row-btn-tr"))
            kword_input.focus()
        }
        function removeItemRow(ele){
            $(ele).parents('.item-row').remove()
        }
        function liveUpdateCategory(ele){
            var category = $(ele).data("category")
            {% for category, display in  card.CATEGORIES %}
                $("#main-panel").removeClass("panel-{{ category }}")
            {% endfor %}
            $("#main-panel").addClass('panel-' + category)
            $("#categories-group .btn").removeClass('active')
            $(ele).addClass("active")
            $("input[name='category']").val(category)
        }
        function confirmDelete(ele){
            // 点击删除时，最后确认的框
            var result = confirm("Are you sure to delete this card?\n(Delete cannot be undo)")
            if(result){
                disableAllBtn()
                window.location = $(ele).data('href')
            } else {
                $.info("Delete canceled.")
            }
        }
        function disableAllBtn(){
            // submit() 前应禁用所有按钮。
            $(".btn").attr("disabled", "disabled")
            $(".btn").click(function(){
                return false;
            })
        }
    </script>
{% endblock %}
