{% extends "cardnote/base.html" %}
{% block title %}Cardnote List{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .inner-container {
            padding-top: 15px;
        }
        .text-default {
            color: black;
        }
    </style>
{% endblock %}

{% block nav-btn %}
    <a class="navbar-brand" href="/cardnote/newcard">
        <span class="text-success">
            <span class="glyphicon glyphicon-plus"></span>
            <span>New Card</span>
        </span>
    </a>
{% endblock nav-btn %}

{% block content %}
<div class="container">
    <div class="inner-container">
        <div class="visible-xs-block">
            {% for card in cards %}
                {% include "cardnote/listitem.html" with card=card %}
            {% endfor %}
        </div><!--.visible-xs-block-->
        <div class="hidden-xs">
            <div class="row">
                {% for cards_col in cards_cols %}
                    <div class="col-xs-{% widthratio 12 cards_cols|length 1 %}">
                        <div class="row">
                            <div class="col-xs-12">
                                {% for card in cards_col %}
                                    {% include "cardnote/listitem.html" with card=card %}
                                {% endfor %}
                            </div><!--.col-->
                        </div><!--.row-->
                    </div><!--.col-->
                {% endfor %}
            </div><!--.row-->
        </div><!--.hidden-xs-->
    </div><!--.inner-container-->
</div>
{% endblock content %}

{% block js %}
    <script>
        $(function(){
        })
    </script>
{% endblock %}

{% block footer %}
    {{super}}
{% endblock %}
