{% load filters_math %}
{% load i18n %}

<a class="no-decoration" href="/cardnote/detail?id={{ card.id }}">
    <div class="ani-fast hover-shadow panel panel-{{ card.category|default:'default' }}">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list"></span>
            <span>{{ card.title }}</span>
            <span class="pull-right badge">
                {{ card.cardnoteitems.count }}
            </span>
            <div class="small text-muted">{{ card.description }}</div>
        </div>
        <table class="table table-condensed table-bordered table-hover text-{{ card.category|default:'default' }} ">
            <tr class="{{ card.category|default:'default' }} small">
                <td colspan="2">
                    <span>
                        <span class="glyphicon glyphicon-play"></span>
                        <span>{{ card.created|date:"Y-m-d H:i" }}</span>
                    </span>
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-pause"></span>
                        <span>{{ card.modified|date:"Y-m-d H:i" }}</span>
                    </span>
                </td>
            </tr>
            {% if card.kcol or card.vcol %}
                <tr class="{{ card.category|default:'active' }}">
                    <th class="text-center">
                        {{ card.kcol|default:"···" }}
                    </th>
                    <th class="text-center">
                        {{ card.vcol|default:"···" }}
                    </th>
                </tr>
            {% endif %}
            {% for item in card.cardnoteitems %}
                {% with collapse_limit=7 %}
                    <tr class="{{ card.category|default:'default' }} {% if forloop.counter > collapse_limit and card.cardnoteitems.count > collapse_limit|add:1 %}collapse-tr{% endif %}">
                        <td class="text-center">
                            {{ item.kword }}
                        </td>
                        <td class="text-center">
                            {{ item.val }}
                        </td>
                    </tr>
                    {% if forloop.counter > collapse_limit and card.cardnoteitems.count > collapse_limit|add:1 and forloop.last %}
                        <tr class="more-btn-tr {{ card.category|default:'default' }}">
                            <td class="text-center text-muted" colspan="2" onclick="$(this).parents('table').find('.collapse-tr').fadeIn(); $(this).parent().hide(); return false">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                {% with card.cardnoteitems.count|sub:collapse_limit as plus_num %}
                                    +{{ plus_num }}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
            {% empty %}
                <tr class="{{ card.category|default:'default' }}">
                    <td class="text-center text-muted" colspan="2">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        {% trans "No Data" %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div><!--.panel-->
</a>
